{# templates/components/marketplace/history_tab.html.twig #}
<div data-marketplace-target="tabContent" data-tab-name="history" class="layout-stack{% if tab|default('browse') != 'history' %} hidden{% endif %}">
    <div class="game-panel game-panel--scroll">
        <table class="data-table">
            <thead>
                <tr>
                    <th>{{ 'marketplace.col_tx_id'|trans }}</th>
                    <th>{{ 'marketplace.col_entity'|trans }}</th>
                    <th>{{ 'marketplace.col_seller'|trans }}</th>
                    <th>{{ 'marketplace.col_buyer'|trans }}</th>
                    <th>{{ 'marketplace.col_total_price'|trans }}</th>
                    <th>{{ 'marketplace.col_fee_tax'|trans }}</th>
                    <th>{{ 'marketplace.col_date'|trans }}</th>
                </tr>
            </thead>
            <tbody data-marketplace-target="historyContainer">
                {# AJAX Loaded list #}
                <tr>
                    <td colspan="7" class="data-table__col--center">
                        <div class="loading-spinner loading-spinner--table"><div class="loading-spinner__icon loading-spinner__icon--sm" aria-hidden="true"></div></div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
