{% set status = status|default(null) %}

<div class="summoning-cycle">
    <div class="summoning-cycle__metric">
        <span class="summoning-cycle__label">{{ 'summoning.summons_used'|trans }}</span>
        <span class="summoning-cycle__value">
            <span data-summoning-target="summonsUsed">{{ status.summons_used }}</span> /
            <span data-summoning-target="summonsMax">{{ status.summons_max }}</span>
        </span>
    </div>
    <div class="summoning-cycle__divider"></div>
    <div class="summoning-cycle__metric">
        <span class="summoning-cycle__label">{{ 'summoning.cost_per_summon'|trans }}</span>
        <span class="summoning-cycle__value summoning-cycle__value--gold">🪙 {{ status.gold_cost|number_format(0, '.', ' ') }}</span>
    </div>
</div>
