{# templates/components/formation/hero_pool.html.twig #}
<div class="hero-panel space-y-4">
    <h3 class="text-sm font-bold text-white uppercase tracking-wider">{{ 'formation.mage_pool'|trans }}</h3>
    <div class="formation-pool">
        {% for h in heroes %}
            {% if h.status.value != 'dead' %}
                <div data-formation-target="poolHero" data-hero-id="{{ h.id }}" data-name="{{ h.name }}" data-level="{{ h.level }}" data-race="{{ h.race.value|capitalize }}"
                     class="formation-pool-item">
                    <div class="flex items-center gap-3">
                        {% include 'components/hero/avatar.html.twig' with { race: h.race, text_size: 'text-2xl' } %}
                        <div>
                            <h4 class="formation-pool-item__name">{{ h.name }}</h4>
                            <p class="formation-pool-item__meta">{{ 'js_flash.hq.lvl_short'|trans }} {{ h.level }} &bull; {{ ('heroes.race_' ~ h.race.value)|trans }}</p>
                        </div>
                    </div>
                    <span data-assigned-badge class="hidden formation-assigned-badge">{{ 'formation.assigned'|trans }}</span>
                </div>
            {% endif %}
        {% else %}
            <div class="formation-pool-empty">{{ 'formation.no_trainees'|trans }}</div>
        {% endfor %}
    </div>
</div>
