{% set race_val = race.value is defined ? race.value : race %}
{% set style = style|default('emoji') %}
{% set icon = race_icon(race) %}

{% if style == 'box' %}
    {% set size_class = size_class|default('w-24 h-24 sm:w-28 sm:h-28 text-5xl sm:text-6xl') %}
    <div class="{{ size_class }} rounded-2xl bg-gray-950 border border-gray-800/80 flex items-center justify-center shadow-inner select-none shrink-0" title="{{ race_val|capitalize }}">
        {{ icon }}
    </div>
{% else %}
    {% set text_size = text_size|default('text-3xl') %}
    <span class="{{ text_size }} select-none" title="{{ race_val|capitalize }}">{{ icon }}</span>
{% endif %}
